.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 10px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__menu {
  justify-self: start;
  padding-left: 60px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
  padding: 0;
  margin: 0;
}

.header__links-list-item {
  align-items: center;
  gap: 8px;
  display: list-item;
  list-style: circle;
  padding-left: 5px;
}
.list {
  list-style: none;
}

.header__link_active {
  font-weight: 700;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -1px;
  text-decoration: none;
}

.header__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  max-height: 98px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__address a {
  font-style: normal;
  font-size: 18px;
  align-items: flex-start;
  text-underline-offset: 4px;
}

.header__address h3 {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.cover_back_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligned-text {
  position: absolute;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 30px;
}

.aligned-text-left {
  top: 180px;
  left: 50px;
}
.aligned-text-center {
  position: static;
  margin: 0;
}

.aligned-text-right {
  bottom: 180px;
  right: 70px;
}
.cover__description {
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.cover__description-text {
  color: white;
  font-family: Raleway, sans-serif;
  word-spacing: 30px;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

.lots {
  padding: 180px 24px 90px 24px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 39px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.card__text {
  position: relative;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  margin: 0;
}

.lots__look-more-link {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 90px 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 90px 50px;
  align-items: start;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-style: normal;
}

.footer__address a {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
}

.footer__address p {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  margin: 0;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
